body, html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1B1B1B;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.shub {
    margin-top: 20px;
    text-align: center;
    font-size: 48px;
    color: white;
}

.shub span {
    margin-left: 3px;
    color: black;
    border-radius: 10px;
    padding: 7px;
    background-color:#FFA31A;
}

.container {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.content {
    padding: 15px 15px;
    margin-bottom: 10px;
}

.small {
    margin-top: -10px;
}

.wide {
    margin-left: 12%;
    width: 75%;
}

.panel {
    border-radius: 20px;
    background-color: #151515;
    position:relative;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: 0.3s;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    width: 100%;
    flex: 0 0 65%;
    z-index: 1;
    transition-duration: 0.25s;
}

.panel::before {
    border-radius: 10px;
    position:relative;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    content:'';
    position:absolute;
    width: 100%;
    height:0.3%;
    background: rgb(68, 68, 121);
    left:50;
}

.break {
    margin-top: 75px;
}

.larger {
    font-size: larger;
}

.center {
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.title {
    font-size: 28px;
    margin-top: 8px;
}


a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:active {
    text-decoration: none;
    color: white;
}

.methods {
    height: 5vh;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    color: rgb(255, 255, 255);
    background-color: rgba(30, 30, 34, 0.459);
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    z-index: 10;
}

.dropdownText {
    margin-left: 54vh;
    margin-top: -4px;
    margin-bottom: -4px;
    background-color: rgb(30, 30, 34);
    color: white;
    padding: 16px;
    font-size: 16px;
    margin: 0;  
    height: 100%;
    border-radius: 8px;
    width: 100%;
    border: none;
    cursor: pointer;
    z-index: 10;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: white;
    font-size: 24px;
}

.dropdownContent {
    margin-top: 5px;
    margin-left: 48vh;
    display: none;
    border-radius: 8px;
    background-color: rgba(30, 30, 34, 0.678);
    width: 332px;
    border-radius: 12px;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}
  
.dropdownContent a {
    width: 300px;
    transition: display 1s;
    color: white;
    border-radius: 8px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s;
}

.dropdownContent a:hover {
    transition: background-color 0.2s;
    background-color: rgba(30, 30, 34, 0.801);
}

.methods:hover {
    transition: background-color 0.2s;
    background-color: rgba(30, 30, 34, 0.459);
}

.methods:hover .dropdownContent {
    display: block;
    position: absolute;
    z-index: 10;
}


.blast {
    float: right;
    margin-bottom: 20px;
    position: relative;
    margin-top: 80px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: rgba(30, 30, 34, 0.459);
    cursor: pointer;
    transition: background-color 0.2555s;
}

.blast:hover {
    transition: background-color 0.2555s;
    background-color: rgba(30, 30, 34, 0.671);
}

.panelbutton {
    padding-top: 30px;
    margin-top: 20px;
    height: 50px;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: rgba(81, 81, 92, 0.459);
    cursor: pointer;
    z-index: 10000;
    margin-bottom: -250px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.2555s;
}

.panelbutton:hover {
    transition: background-color 0.2555s;
    background-color: rgba(30, 30, 34, 0.671);
}

.pagefix {
    margin-top: 0;
}

.rounded-circle {
    border-radius: 50% !important
}


.bar {
    border: thin;
    padding: 15px;
    border-color: rgb(51, 51, 51);
    background-color: rgba(30, 30, 34, 0.459);
    color: white;
}

.profilePic {
    margin-left: 100px;
}

.inline {
    margin-top: -88px;
}

.inline2 {
    margin-top: 0px;
}

.left {
    color: rgba(173, 173, 173, 0.801);
    margin-left: -14.2%;
}

.left2 {
    margin-left: -8%;
}

.bongwong a {
    animation: id ease-in-out 3s infinite;
}

.align-left {
    float: left;
}

@keyframes id {
    0%, 100% {transform: translateY(-10px);}
    50% { transform: translateY(0px); }
}

@media only screen and (max-width: 2560px) {
    .profilePic {
        margin-left: 175px;
    }
    
    
    .left {
        margin-left: -4%;
    }
    
    .left2 {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1920px) {
    .profilePic {
        margin-left: 50px;
    }

    .left {
        margin-left: 0px;
    }

    .left2 {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1440px) {
    .panelbutton {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .panelbutton {
        margin-top: 0px;
        height: 50px;
        margin-bottom: 45px
    }

    .panel {
        flex: 0 0 450px;
    }

    .methods {
        height: 50px;
    }

    .dropdownContent {
        margin-left: 50px;
    }

    .profilePic {
        margin-left: 10px;
    }

    .left {
        margin-left: 20px;
    }

    .left2 {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 900px) {
    .panelbutton {
        margin-top: 0px;
        height: 50px;
        margin-bottom: 45px
    }

    .panel {
        margin-left: 10%;
        flex: 0 0 300px;
        left: 50px;
    }

    .methods {
        height: 50px;
    }

    .dropdownContent {
        margin-left: 50px;
    }

    .profilePic {
        margin-left: 1px;
    }

    .left {
        margin-left: 20px;
    }

    .left2 {
        margin-left: 50px;
    }
}
